/* style.css - Arquivo principal */
html {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header {
    display: flex;
    margin: 0;
    background-color: ;
}

.logo {
    margin-left: 30px;
    padding: 10px;
}