/* BOTÕES DA HOMEPAGE (INDEX) */

.tophero a {
    display: flex;
    padding: 1rem;
    border: solid 2px var(--verde2);
    width: 20%;
    border-radius: 5px;
}

header a{
    color: var(--verde3);
    font-weight: 600;
}

.logo a{
    font-weight: bold;
}

/* BOTÕES DA PÁGINA DE PORTIFÓLIO */

.card a {
    display: flex;
    padding: 1rem;
    border: solid 2px var(--verde2);
    width: 50%;
    border-radius: 5px;
    justify-content: center;
    align-self: center;
    display: none;
    position:absolute;
}

.card:hover {
    display: block;
}

/* BOTÕES DA PÁGINA CONTATO */

.hero form .button {
    display: flex;
    border: solid 2px var(--verde2);
    border-radius: 5px;
    justify-content: center;
    background-color: var(--verde2);
    color: white;
    font-weight: 300;
}

/* BOTÕES DA PÁGINA PROJETO */

/* Botão de retorno */

.hero:first-child {
    padding: 2rem 0 2rem 0;
}

.hero:first-child a{
    display: flex;
    color: var(--verde3);
    font-weight: 300;
    gap: 10px;
    align-items: center;
}

.hero:first-child i{
    color: var(--verde3);
    align-items: center;
}