.bgheader {
    display: flex;
    width: 100vw;
    height: 60px;
    justify-content: center;
    align-items: center;
    position: fixed;
    box-shadow: 0.1px 0.1px 180px 0.1px grey;
}

header {
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 60px;
    align-items: center;
}

.sidemenu {
    display: flex;
    justify-self: flex-end;
    flex-grow: 0.2;
    justify-content: flex-end;
    gap: 30px;
}

.logo {
    display: flex;
    flex-grow: 0.8;
    font-size: 1.5rem;
}

.logo span{
    color: var(--verde1);
    font-weight: bold;
}
