.bgtophero {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.tophero {
    display: flex;
    width: 60vw;
    justify-content: space-around;
}

.tophero > img {
    height: 200px;
    width: 160px;
    margin: 30px;
}

.contenttophero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
}

.bgdisplay {
    display: flex;
    justify-content: center;
}

.display {
    display: flex;
    flex-direction: column;
    width: 60vw;
    align-items: center;
}

.display h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--verde3);
    margin-bottom: 1rem ;
}

.displaycard {
    display: flex;
    flex-direction: row;
}
