.hero {
    max-width: 1200px;
    display: grid;
    grid-template-areas: 
        "header header  header"
        "proj1   proj2   proj3"
        "proj4   proj5   proj6"
        "proj7   proj8   proj9";
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    margin: var(--section) 0 var(--section) 0;
}

.bghero {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.tophero {
    grid-area: header;
    display: flex;
    flex-direction: column;
    margin: var(--section) 0 var(--section) 0;
}

.tophero h1 {
    text-align: center;
    font-weight: 500;
    color: var(--verde3);
    font-size: 2rem;
}

.tophero .filtros {
    display: flex;
    gap: var(--gap);
    align-self: center;
    margin-top: 1rem;
}

.tophero .filtros button {
    padding: 5px 1rem 5px 1rem;
    border-radius: 20px;
    border: var(--fontecor1) solid 1px;
    background-color: var(--fundoverdeclar);
    font-weight: 300;
}

.tophero .filtros button:hover {
    cursor: pointer;
    background-color: var(--verde2);
    transition: 0.2s;
}

/* REGRAS DE POSICIONAMENTO - EXCETO TOPHERO(HEADER)*/

.hero:nth-child(2) {
    grid-area: proj1;
}

.hero:nth-child(3) {
    grid-area: proj2;
}

.hero:nth-child(4) {
    grid-area: proj3;
}

.hero:nth-child(5) {
    grid-area: proj4;
}

.hero:nth-child(6) {
    grid-area: proj5;
}

.hero:nth-child(7) {
    grid-area: proj6;
}

.hero:nth-child(8) {
    grid-area: proj7;
}